[user]
    name  = Henry Huang
    email = keenhenry1109@gmail.com

[core]
    editor = vim

[alias]
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
[merge]
    tool = kdiff3
